#root {

}

#header {
  --height: 3em;
  display: flex;
  align-items: center;
  padding: calc(var(--height)*0.1);
  background: white;
  border-bottom: 1px solid black;
  height: var(--height);
}

#logo {
  height: 100%;
  float: left;
}

#name {
  padding-left: 10px;
}

#productView {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productContainer {
  display: block;
  width: 200px;
}

.productContainer > img {
  height: 200px;
}