input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  margin: 20px;
  background-color: rgb(68, 68, 138);
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column;
}

#header {
  --height: 3em;

  flex: 0 1 auto;

  height: var(--height);
  padding: calc(var(--height)*0.1);

  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

#home {
  display: flex;
  align-items: center;
  height: 100%;
}

#logo {
  height: 100%;
}

#name {
  padding-left: 10px;
}

#error {
  flex: 1 1 auto;

  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productView {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productContainer {
  width: 200px;
  padding: 10px;
  display: block;
}

.productContainer > div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.productContainer > div > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.cartContainer {
  max-width: 600px !important;
  width: 500px !important;
  display: flex;
  border-bottom: 3px solid black;
}

.cartColumn {
  margin: auto;
  flex: 50%;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of all content */
}

.overlay > div {
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  overflow: scroll;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}


#product > img {
  float: left;
}

#quantity_counter {
  max-width: 30px;
}

.checkoutfield {
  margin-left: 40px;
  max-width: 400px;
}